    /* @import url('../assets/fonts/digital-7-mono.ttf');
    @import url('../assets/fonts/digital-7.ttf'); */

    /* RESET */
    /* Box sizing rules */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    @font-face {
        font-family: 'digital';
        src: url('../assets/fonts/digital-7-mono.ttf') format('truetype');
    }

    html,
    body {
        font-family: sans-serif;
        margin: 0;
        font-size: 16px;
        background-color: #030306;
    }

    #desc {
        position: absolute;
        top: 25px;
        left: 25px;
        color: #404040;
        width: 25%
    }

    h1 {
        font-size: 1.0rem;        
    }

    #myDiv {
        width: 100vw;
        height: 100vh;
    }

    #svg {
        width: 100vw;
        height: 100vh;
        margin: 0px 0px;
    }

    #circle {
        fill: #030306
    }

    #hourHand {
        fill: #FF2E2E;
        opacity: 0.90
    }

    #minuteHand {
        fill: #FF2E2E;
        opacity: 0.90
    }

    #secondHand {
        fill: #FF2E2E;
        opacity: 0.90
    }

    .text {
        fill: #ff2e2e;
        opacity: 0.50;
    }

    .digital {
        font-family: 'digital', sans-serif;
        fill: #FF2E2E;
        font-size: 1.75rem;
        opacity: 0.75;
    }

    #digital-colon {
        font-size:1rem
    }

    #digital-ampm {
        font-size:0.5rem
    }

    #digital-second {
        font-size:0.5rem;
    }

    #mode-button {
        fill: #ff2e2e;
        font-size: 0.1rem;
        letter-spacing: 0.025rem;
        cursor: pointer;
        opacity: 0.75;
    }

    #secondsHandMode {
        font-size: 0.1rem;
        cursor: pointer;
    }